@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}

@-webkit-keyframes {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}

.words {
  animation: move-words 15s linear infinite;
  -webkit-animation: move-words 15s linear infinite;
}
