@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -140%;
  }
}

@-webkit-keyframes {
  0% {
    left: 100%;
  }
  100% {
    left: -140%;
  }
}

.words {
  animation: move-words 15s linear infinite;
  -webkit-animation: move-words 15s linear infinite;
}
