@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}

@-webkit-keyframes {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}

.words {
  animation: move-words 15s linear infinite;
  -webkit-animation: move-words 15s linear infinite;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
